# IDE left over
vivado.*
*.log
*.jou
.DS_Store
.vscode
.idea
*.cache
*.cache2
.*.swp
*.raw

# binary
*.d
*.o

# Buildcache
signalsdrpro/workspace
hdl/projects/signalsdrpro/signalsdrpro.cache
hdl/projects/signalsdrpro/signalsdrpro.hw
hdl/projects/signalsdrpro/signalsdrpro.ip_user_files
hdl/projects/signalsdrpro/.Xil

signalsdrpi/workspace
hdl/projects/signalsdrpi/signalsdrpro.cache
hdl/projects/signalsdrpi/signalsdrpro.hw
hdl/projects/signalsdrpi/signalsdrpro.ip_user_files
hdl/projects/signalsdrpi/.Xil  
